PlayerHub
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background-color: #444;
	// justify-content: center;
	// align-items: center;
	// font-weight: bold;
	// border-radius: 20px;

	> .score
	{
		position: absolute;
		right: 32px;
		bottom: 32px;

		padding: 8px 16px;

		width: 100px;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 16px;

		font-size: 25px;
		font-family: Poppins;
		color: #fff;
	}

	// > .crosshair
	// {
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);

	// 	width: 32px;
	// 	height: 32px;
	// 	background-image: url(assets/crosshair.png);
	// 	background-size: cover;
	// }
	> .crosshair {
  	/* Positioning it in the center of the screen */
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255,255,255,0.6); /* Neon green is a classic choice */
		width: 5px;
		height: 5px;
		border-radius: 100%;
	}

}