{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "f024e43b-a3f2-4925-9f9b-8e6dd07c43c8",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}